<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>

<body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="false">Disabled</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="bgabout">
        <div id="overlay"></div>
        <div id="text">


            <h3 style="color: black;"><b><i>Nossa Missão:</i></b></h3>


            <p>Nosso propósito é simplificar e aprimorar o processo de agendamento de consultas, proporcionando
                a você acesso fácil e rápido aos serviços de saúde. Trabalhamos incansavelmente para criar uma
                experiência que integre a tecnologia moderna com o cuidado personalizado que você merece.</p>
            <p><strong style="color: black;">Profissionais de Saúde Qualificados:</strong> Colaboramos com uma equipe de
                profissionais de
                saúde altamente qualificados e comprometidos com a excelência no atendimento.</p>

            <p><strong style="color: black;">Tecnologia Inovadora:</strong> Utilizamos tecnologia de ponta para garantir
                uma plataforma
                segura, intuitiva e eficiente, atendendo às suas necessidades de marcação de consultas.</p>

            <p><strong style="color: black;">Atendimento Personalizado:</strong> Valorizamos a individualidade de cada
                paciente e nos
                esforçamos para oferecer um atendimento personalizado, alinhado às suas expectativas e necessidades.</p>

        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.2.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>